.header {
  width: 100%;
  max-height: 20vh;

  background: linear-gradient(90deg, rgba(3, 62, 124, 1) 0%, rgba(119, 150, 222, 1) 100%);

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;

  @media only screen and (min-width: 768px) {
    max-height: 25vh;
  }

  @media only screen and (min-width: 1200px) {
min-height: 250px;
  max-height: 35vh;
  }
}

.logo {
  padding: 25px;
  width: 60px;
  height: 60px;


  @media only screen and (min-width: 600px) {
    width: 75px;
    height: 75px;
  }
  @media only screen and (min-width: 768px) {
    width: 120px;
    height: 120px;
  }
  @media only screen and (min-width: 992px) {
    width: 150px;
    height: 150px;
  }
  @media only screen and (min-width: 1200px) {
    width: 200px;
    height: 200px;
  };

}

.text {
  font-size: 2em;
  color: white;
  padding-left: 5px;

  @media only screen and (min-width: 600px) {
    font-size: 2.2em;
    padding-left: 35px;
  }
  @media only screen and (min-width: 768px) {
    font-size: 2.5em;
    padding-left: 50px;
    padding-top: 10px;
   }
  @media only screen and (min-width: 992px) {
    padding-top: 20px;
    font-size: 3em;

  }
  @media only screen and (min-width: 1200px) {
    font-size: 4em;
    padding-left: 75px;
    padding-top: 10px;
  }

}